.notification:not(:last-child) {
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
}


.notification {
	background-color: #f5f5f5;
	border-radius: 4px;
	padding: 1.25rem 2.5rem 1.25rem 1.5rem;
    position: relative;
    text-align: center;
    width: 50%;
    margin: 0 2rem;
}

.notification-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

.notification a:not(.button) {
	color: currentColor;
	text-decoration: underline
}

.notification strong {
	color: currentColor
}

.notification code,
.notification pre {
	background: #fff
}

.notification pre code {
	background: 0 0
}

.notification>.delete {
	position: absolute;
	right: .5rem;
	top: .5rem
}

.notification .content,
.notification .subtitle,
.notification .title {
	color: currentColor
}

.notification.is-white {
	background-color: #fff;
	color: #0a0a0a
}

.notification.is-black {
	background-color: #0a0a0a;
	color: #fff
}

.notification.is-light {
	background-color: #f5f5f5;
	color: #363636
}

.notification.is-dark {
	background-color: #363636;
	color: #f5f5f5
}

.notification.is-primary {
	background-color: #00d1b2;
	color: #fff
}

.notification.is-link {
	background-color: #3273dc;
	color: #fff
}

.notification.is-info {
	background-color: #209cee;
	color: #fff
}

.notification.is-success {
	background-color: #23d160;
	color: #fff
}

.notification.is-warning {
	background-color: #ffdd57;
	color: rgba(0, 0, 0, .7)
}

.notification.is-danger {
	background-color: #ff3860;
	color: #fff
}